<p><%= link_to @renter.full_name, "#{FRONTEND_PATH}/users/#{@renter.id}" %> has sent you a request to rent <%= link_to @place.title, "#{FRONTEND_PATH}/places/#{@place.id}" %> for <length> starting on <%= @check_in %>.</p>

<p>Please click here to <accept or deny> their rental and send messages to <%= link_to @renter.full_name, "#{FRONTEND_PATH}/messages/#{@renter.id}" %>.</p>

<p>P.S. Questions? Please click <here> to contact us for assistance.</p>