<h2>Dear <%= @user.first_name %>,</h2>

<p><%= @renter.anonymized_name %> The tenant has been notified of the rental approval. The tenant has been asked to pay the rental initiation fee. You will be notified when the payment is complete.</p>