<h2>Dear <%= @user.first_name %>,</h2>

<p>The listing owner has confirmed your rental request!</p>

<p>Please login to our <%= link_to "Inquiry Center", frontend_url('/messages') %> and use the button at the bottom to pay the rental initiation fee of SGD $300. This will secure the property for you for the duration of your rental request.</p>