<h2>Dear <%= @user.first_name %>,</h2>

<p>Congratulations! This rental is confirmed. The tenant's contact details will be sent to you in an email and the tenant will pay the remainder of your rental fees directly to you.</p>
 
<p>Thank you for listing your property with <%= site_name%>!</p>