<h2>Dear <%= @user.first_name %>,</h2>

<p>You have confirmed your rental request!</p>

<p>Once the listing owner has checked all conditions and property availability, you will be prompted to pay the rental initiation fee of SGD $300. This will secure the property for you for the duration of your rental request.</p>