<h2>Dear <%= @name %>,</h2>

<p>Your inquiry <%= link_to @place.title, "#{FRONTEND_PATH}/places/#{@place.id}" %> has been sent.</p>

<<<<<<< HEAD
            <p>Your inquiry <%= link_to @place.title, seo_place_path(@place) %> has been sent.</p>
=======
<p>Please email support@squarestays.com if you need assistance. The property owner or listing agent will get a copy of your request. Normally, your request will be handled within 24-48 hours.</p>
>>>>>>> Inquiry emails

<br />

<p>Thank you!</p>

<p>-- The SquareStays team</p>
