<p>New message from <%= @from_user.full_name %> to <%= @to_user.full_name %>,</p>

<hr/>
  <p><%= @message %></p>
<hr/>

<p>--The SquareStays.com Fricking awesome Team!!</p>

<p>Disclaimer. This is totally illegal, you may consider dealing with drugs, importing russian women or robbing a bank as safer alternatives.</p>