<html>
 <head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
 </head>
 <body>
  New message from <%= @from.full_name %> to <%= @to.first_name %>,

  <hr/>
  <p><%= @message %></p>
  <hr/>

  <p>--The SquareStays.com Fricking awesome Team!!</p>

  <p><i>Disclaimer. This is totally illegal, you may consider dealing with drugs, importing russian women or robbing a bank as safer alternatives.</i></p>
 </body>
</html>