<html>
 <head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
 </head>
 <body>
  Dear <%= @user.first_name %>, Welcome to SquareStays!

  <p>You have a new message waiting for you!</p>

  <p>You have new messages on SquareStays.com!  Please log in to view and respond to your messages. When you log in, you'll see a number with a green background in the top navigation bar. Click there to see your messages and to answer them.</p>

  <p>--The SquareStays.com Team</p>
   
  <p>P.S.  Do you want to list properties for rent on SquareStays? Please to contact us at info@squarestays.com and become an approved property owner on SquareStays!</p>
 </body>
</html>