<h2>Dear <%= @user.first_name %>, Welcome to SquareStays!</h2>
<p>Welcome to Squarestays!</p>

<p>Squarestays helps you find the best short-term and flexible accommodation for your business and personal travel.</p> 
<br/>
<p>We focus on quality stays in major cities worldwide. Browse properties <a href="<%= ENV['FRONTEND_PATH'] %>/profile">here</a>. When you’ve found the right place for you, click the “Rent it” button to get in touch with the property owner. We’re here to help you find your home away from home.</p>
<br/>
<p>--The SquareStays.com Team</p>
<p>P.S.  Do you want to list properties for rent on SquareStays? Please contact us at info@squarestays.com and become an approved property owner on SquareStays!</p>
</p>