<html>
 <head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
 </head>
 <body>
  Hi <%= @user.full_name %>, Welcome to HeyPal!

  Now you should be able to do lots of things!
 </body>
</html>