<h4>Last 7 days</h4>
<ul class="stats">
  <li>
    <span class="value"><%= User.count %></span>
    <span class="name">New Users</span>
  </li>
  <li>
    <span class="value"><%= Place.count %></span>
    <span class="name">New Places</span>
  </li>
  <li>
    <span class="name">New Questions:</span>
    <span class="value">5</span>
  </li>
</ul>