.dashboard .stats div {
  margin: 10px auto 30px;
}

#place_published_input {
  display: none;
}

.admin_settings .breadcrumb {
  display: none;
}

.admin_settings .buttons .cancel {
  display: none;
}