<h2>Welcome <%= @resource.email %>!</h2>

<p>Thank you for signing up on <%= site_name %> - your site for trusted stays worldwide. Before you can start finding the best places for your upcoming stays, please confirm your email address:</p>

<p><%= link_to 'Confirm your email address', frontend_url("/users/confirmation/#{@resource.confirmation_token}"), :class => 'btn' %></p>