<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', "https://frontend-heypal.heroku.com/users/confirmation/#{@resource.confirmation_token}" %></p>
